<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="col-6">
            <h2>Добавить пользователя</h2>
            <form method="POST" action="/user">
                <div class="form-element">
                    <label for="name">Имя</label>
                    <input type="text" id="name" name="name" required>
                </div>
                
                <div class="form-element">
                    <label for="surname">Фамилия</label>
                    <input type="text" id="surname" name="surname" required>
                </div>

                <div class="form-element">
                    <label for="age">Возраст</label>
                    <input type="number" id="age" name="age" required>
                </div>
                
                <div class="form-element">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-element">
                    <input type="submit">
                </div>
            </form>
        </div>
        <div class="col-6">
            <h2>Список пользователей</h2>
            <ul>
            {% for user in users %}
                <li>
                    <p>E-mail: <a href="/user/{{user.email}}">{{ user.email }}</a></p>
                    <p>Имя: {{ user.name }}</p>
                    <p>Фамилия: {{ user.surname }}</p>
                    <p>Возраст: {{ user.age }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>